<!doctype html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>SR Predictor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="page-header">
            <h1>SR Predictor</h1>
            <p class="lead">Using in-game statistics to predict SR</p>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">SR</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                      <input class="form-control form-control-lg" type="text" id="battletag" placeholder="Player#1234">
                    </div>
                    <button onClick="run()" id="predictBtn" class="btn btn-primary">Predict</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="results">
            <div class="panel-heading">Results</div>
            <div class="panel-body">
                <div class="row">
                    <h2 id="predictSR"></h2>
                    <h2 id="actualSR"></h2>
                    <button class="btn btn-primary">Hi!</button>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <style>
        .container {
            width: 90%
        }

        .btn-toolbar {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .panel {
            text-align: center;
            margin: auto;
            width: 60%;
        }

        #results {
          margin-top: 50px;
          display: none;
        }

        .sameline {
          display: inline;
          vertical-align: top;
        }
    </style>

</body>

<script>
let run = () => {

  $('#predictBtn').text('Loading...');
  $('#results').css('display', 'hidden');

  let battletag = $('#battletag').val().replace('#', '-');

  if(battletag.includes('-') && battletag.length > 5) {

    fetch('http://127.0.0.1:5000/predict/' + battletag).then((resp) => {
      resp.json().then((json) => {
        $('#results').css('display', 'block');
        $('#predictBtn').text('Predict');
        $('#predictSR').text(json.predictedrank)
        $('#actualSR').text(json.actualrank)
        console.log(json);
      });
    });

  } else {
    alert('Invalid BTag');
    $('#predictBtn').text('Predict');
  }

}
</script>

</html>
